body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
}
.picture{
  
  width : 100%;
  background-color: #eee;
  background-image: url("asd.jpg");
  
  
  
  
  height: 100%; 
  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(50%);
  
  
  
  
}

.image{
  height: 300px;
  width: 600px;
  
  position: absolute;
  background-color: rgb(0,0,0,0.5);

  margin: auto;
  bottom: 250px;
  left: 0;

  
  
  right: 0;
  color: white;
  border-radius: 10px;

  
}

.image b{
  margin-left: 20px;
  font-family: cursive;
  font-size: 50px;
  margin-top: 30px;
  

}
.image>p{
  margin-bottom: 60px;
}
.work{
  border-right: white 2px solid;
  
  padding-right: 10px;
  padding-left: 5px;
  margin-left: 1px;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkgray;
  letter-spacing: 2px;
  
  
}
.contain{
  margin-left: 135px;
}
.btn{
   height: 50px;
   width: 150px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: 235px;
   margin-top: 25px;
   border-radius: 20px;
   border: none;
   color: white;
   background-color: rgb(0,0,0,0.5);
   
   box-shadow: 0 4px 8px 0 ;
}
.btn:hover{
  background-color: white;
  color: black;
  border: none;
  box-shadow: 0 4px 8px 0 black;
}
.container{
  
  height: 650px;
  width:100%;
  background-color: black;
  
  position: relative;
}
.intro{
   
   height:500px;
   width:1000px;
   background-color: black;
   position: absolute;
   left: 220px;
   top:80px;
   box-shadow: 0 4px 8px 0 #eee;
   border-radius: 10px;
   border: 1px solid rgb(255,255,255,0.5);
   


   
   
   
   
   
}
.propic{
   
   height:400px;
   width: 300px;
   background-color: #eee;
   position: absolute;
   left: 70px;
   top:135px;
   box-shadow: 0 4px 8px 0 ;
   border-radius: 10px;
   background-image: url("pic.jpeg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   filter: brightness(30%);

   filter:grayscale(70%);
   border: 1px solid white;
   
   
   
   
   

   
   
   
}
.about{
  margin-left: 200px;
  font-size: 30px;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgb(255,255,255,0.5);
  font-family: cursive;
  margin-right: 50px;
  color: white;
  

}
.intro b{
  background-color: ;
}
.info{
  margin-left: 200px;
  text-align: justify;
  padding-right: 50px;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  color: darkgray

  
}
.headline {
  color: white;
  font-weight: bold;
  font-family: cursive;
  background-color: black;
  font-size: 35px;
  margin-top: 70px;
  margin-left: 75px;
  padding-left: 140px;
  padding-bottom: 5px;
  border-bottom: 1px dotted rgb(255,255,255,0.5);
  border-left: 1px solid white;
  margin-right: 57px;

}
.works{
  width: 100%;
  background-color: black;
  height: 650px;
}
.pharmacy{
  width: 352px;
  height: 450px;
  background-color: black;
  
  float: left;
  margin-left: 74px;
  margin-top: 50px;
  box-shadow: 0 8px 16px 0 ;
  border: 1px solid rgb(255,255,255,0.5);
  border-radius: 30px;
  

  
}
.writer{
  width: 352px;
  height: 450px;
  background-color: black;
  float: left;
  margin-left: 45px;
  margin-top: 50px;
  border: 1px solid rgb(255,255,255,0.5);
  border-radius: 30px;



}
.organizer{
  width: 352px;
  height: 450px;
  background-color: black;
  float: left;
  margin-left: 45px;
  margin-top: 50px;
  border: 1px solid rgb(255,255,255,0.5);
  border-radius: 30px;


}



.image2{
  width: 350px;
  height: 250px;
  border-radius: 30px;
  
}
.title{
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  font-family: cursive;
  letter-spacing: 1px;
  font-size: 20px;
}
.exp{
  color: grey;
  margin-top: 10px;
  margin-left: 20px;
  font-size: small;
  text-align: justify;
  letter-spacing: 1px;
  margin-right: 20px;
}
.btn2{
  height: 35px;
  width: 310px;
  margin-top: 18px;
  margin-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: #aa260a;
  color: black;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}
.btn2:hover{
  background-color: red;
  cursor: pointer;
}
.skill p{
  color: grey;
  margin-left: 200px;
  margin-top: 50px;
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px solid rgb(255,255,255,0.5);
  border-bottom: 1px solid rgb(255,255,255,0.5);
  
  
  
}
.ctn{
  float: left;
  background-color: white;
  height: 30px;
  width: 700px;
  margin-top:50px;
  margin-left: 30px;
  border-radius: 20px;
}

.clear-div{
  clear: both;
}
.ctn b{
  float: left;
  background-color: white;
  color: black;
  margin-left: 10px;
  margin-top: 5px;
}
.eng{
  height: 20px;
  width: 560px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 20px;
  background-image: linear-gradient(to right,brown,red,orange);
  float: left;
}
.powerpoint{

  height: 20px;
  width: 420px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 20px;
  background-image: linear-gradient(to right,brown,red,orange);
  float: left;
}
.word{
  height: 20px;
  width: 490px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 20px;
  background-image: linear-gradient(to right,brown,red,orange);
  float: left;
}
.writing{
  height: 20px;
  width: 350px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 20px;
  background-image: linear-gradient(to right,brown,red,orange);
  float: left;
}
.leadership{
  height: 20px;
  width: 630px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 20px;
  background-image: linear-gradient(to right,brown,red,orange);
  float: left;
}
.poems{
  background-color: black ;
  width: 90%;
  height:1230px;
  margin-left: 75px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}
.works1{
  width: 100%;
  background-color: black;
  height: 1500px;
  margin-top: 30px;
}
.p1{
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("women.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p2{
  height: 300px;
  grid-column: 2/4;
  background-image: url("pain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.p3{
  background-image: url("hope.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.p4{
  height: 300px;
  background-image: url("abrar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.p5{
  height: 300px;
  grid-column: 1/3;
  background-image: url("rebel.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.p6{
  height: 300px;
  background-image: url("confidence.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
.p7{
  height: 300px;
  background-image: url("life.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  

  
}
.p8{
  height: 300px;
  
  grid-column: 2/4;
  background-image: url("love.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.footer{
  background-image: url("dfr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100);
  height: 700px;
  width: 90%;
  margin-left: 75px;
  position: relative;
  margin-top: 20px;
}
.contact{
  position: absolute;
  width: 600px;
  height: 300px;
  background-color: rgb(0,0,0,0.6);
  
  
  left: 325px;
  
  top:200px;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 black;
}
.end{
  background-color: black;
  width: 100%;
  height: 200px;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
}
.email,.number{
  margin-left: 100px;
  margin-top: 30px;
  background-color: rgb(0,0,0,0.0);
}
.footer b{
  color: white;
  margin-left: 20px;
  font-family: cursive;
  font-size: 25px;
  background-color: rgb(0,0,0,0.0);
}
.wrt{
  color:black;
  margin-left: 450px;
  width: 400px;
  margin-top: 70px;
  font-family: cursive;
  font-size: 30px;
  background-color: white;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 grey;

}
